@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
$mainRed: #ee626b;
$mainBlue: #008af8;

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 1rem;
   font-weight: 500;
   background-color: #fafafa;
   color: #252B42;
   font-family: 'Poppins', sans-serif;
}

.header {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   background-color: transparent;
   z-index: 100;
   transition: .7s;
}

.fixed-header {
   background-color: #0071F8;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
   height: 80px;
   padding: 20px 0;

   .nav__logo {
      img {
         width: 100px;
      }
   }
}

.container {
   max-width: 1360px;
   margin: 0px auto;
   padding: 0px 20px;
}

@media (min-width:1200px) {
   .container {
      max-width: 1140px;
   }
}

// @media (min-width: 992px) {
//    .container {
//       max-width: 960px;
//    }
// }

// @media (min-width: 768px) {
//    .container {
//       max-width: 720px;
//    }
// }
// @media (min-width: 576px) {
//    .container {
//       max-width: 540px;
//    }
// }

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo {}

   &__list {
      display: flex;
   }

   // &__list>*:not(:last-child){
   //    padding: 0px ;
   // }

   &__item:last-child {
      background-color: $mainRed;
      text-transform: uppercase;
   }

   &__item {
      padding: 0px 10px;
      height: 40px;
      line-height: 40px;
      align-items: center;
      display: flex;
      border-radius: 70px;
      transition: .4s;
   }

   &__item:first-child {
      background-color: rgba(255, 255, 255, 0.1);
   }

   &__item:not(:last-child) {
      margin: 0px 10px 0px 0px;
   }

   &__item:not(:last-child):hover {
      background-color: rgba(255, 255, 255, 0.1);
   }

   &__link {
      color: #fff;
      padding: 0px 20px;
      font-weight: 300;
      font-size: 15px;
   }

   &__icon {
      position: relative;
      display: none;
      top: 50%;
      span {
         transition: all 0.4s;
         background-color: #fff;
         display: block;
         position: absolute;
         width: 30px;
         height: 2px;
         left: 0;
         top: 16px;
      }

      span:before {
         transition: all 0.4s;
         background-color: #fff;
         display: block;
         position: absolute;
         width: 30px;
         height: 2px;
         left: 0;
         width: 75%;
         content: "";
         transform-origin: 33% 100%;
         top: -10px;
         z-index: 10;
      }

      span:after {
         transform-origin: 33% 0;
         top: 10px;
         content: "";
         transition: all 0.4s;
         background-color: #fff;
         display: block;
         position: absolute;
         width: 30px;
         height: 2px;
         left: 0;
         width: 75%;
      }
   }
}

@media (max-width:767px) {
   .nav__list{
      display: none;
   }
   .nav__icon{
      display: block;
   }
}

.main {
   background-image: url("../img/banner-bg.jpg");
   border-radius: 0px 0px 150px 150px;
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: cover;


   &__body {
      display: flex;
      padding: 225px 0;
   }

   &__column {
      flex: 0 1 50%;
   }

}



.column {

   &__caption {
      color: white;

      h6 {
         font-size: 20px;
         text-transform: uppercase;
         font-weight: 500;
         letter-spacing: 0.5px;
      }

      h2 {
         text-transform: uppercase;
         font-size: 48px;
         color: #fff;
         margin-top: 20px;
         position: relative;
         padding-bottom: 5px;
         margin-bottom: 40px;
         font-weight: 600;
      }

      h2:after {
         position: absolute;
         background-image: url("../img/caption-wave.png");
         width: 202px;
         height: 12px;
         content: '';
         left: 125px;
         bottom: 0;
      }

      p {
         margin-bottom: 70px;
         font-size: 14px;
         line-height: 28px;
      }
   }

   &__search-input {
      position: relative;
      max-width: 450px;

      input {
         max-width: 450px;
         width: 100%;
         height: 50px;
         background-color: #fff;
         border: none;
         outline: none;
         padding: 0px 25px;
         font-size: 14px;
         color: #7a7a7a;
         border-radius: 25px;
      }

      button {
         position: absolute;
         top: 0;
         right: 0;
         height: 50px;
         line-height: 50px;
         background-color: $mainRed;
         color: #fff;
         font-size: 15px;
         text-transform: uppercase;
         font-weight: 500;
         padding: 0px 25px;
         // border: none;
         border-radius: 25px;
         transition: .3s;
      }

      button:hover {
         background-color: #0171F9;
      }
   }

   &__right-image {
      position: relative;
      float: right;

      img {
         border-radius: 25px;
      }
   }
}

@media (max-width:1200px) {
   .column h2:after {
      display: none;
   }
}

.asassin-image {

   &__price {
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 25px;
      background-color: $mainBlue;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      padding: 4px 15px;
   }

   &__offer {
      position: absolute;
      left: -25px;
      bottom: -25px;
      border-radius: 50%;
      background-color: $mainRed;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      display: inline-block;
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
   }
}

.features {
   margin: -80px 0px 0px 0px;

}


.row {
   display: flex;
   // flex-wrap: wrap;
   margin: 0px -12px;

   &__column {
      margin: 0px 12px;
      flex: 0 1 25%;
      display: flex;
      background-color: #fff;
      border-radius: 25px;
      justify-content: center;
      box-shadow: 0px 0px 4px 1px gray;
   }

   &__column:hover {
      .item__image {
         background-color: $mainRed;
      }
   }

   &__item {
      padding: 35px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.item {

   &__image {
      width: 90px;
      height: 90px;
      text-align: center;
      line-height: 90px;
      background-color: #0071f8;
      border-radius: 50%;
      margin: 0px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;

   }

   h4 {
      text-transform: uppercase;
      color: #1e1e1e;
      font-weight: 700;
   }
}



.section {
   margin-top: 120px;
}



.trending {

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
   }

   &__col {
      flex: 0 1 25%;
      padding: 0px 10px;
   }

   &__col-top {
      flex: 0 1 50%;
   }

   &__heading {
      margin: 0px 0px 70px 0px;

      h6 {

         color: #ee626b;
         font-size: 15px;
         text-transform: uppercase;
         font-weight: 700;
      }

      h2 {
         font-size: 36px;
         font-weight: 700;
         text-transform: capitalize;
         margin-top: 20px;
         line-height: 44px;
      }
   }

   &__main-button {
      margin: 32px 0px 0px 0px;
      text-align: right;

      a {

         display: inline-block;
         background-color: $mainRed;
         text-transform: uppercase;
         color: #fff;
         font-size: 14px;
         font-weight: 600;
         height: 50px;
         line-height: 50px;
         padding: 0px 30px;
         border-radius: 25px;
         transition: all .3s;
      }

      a:hover {
         background-color: #0071f8;
      }
   }

   &__item {
      // background-color: #7a7a7a;
      background-color: #eeeeee;
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      margin-bottom: 30px;

      &:hover {
         h4 {
            color: #0071F8;
         }

         a {
            background-color: #0071F8;
         }
      }

      img {
         width: 100%;
      }
   }

   &__thumb {
      position: relative;
      border-radius: 25px;
      overflow: hidden;

      em {
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         text-decoration: line-through;
         display: block;
         margin: 0px 0px 5px 0px;
      }
   }

   &__price {
      text-align: right;
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 10px;
      background-color: #008af8;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      padding: 8px 15px 6px 15px;
   }

   &__down-content {
      padding: 25px;

      h4 {
         transition: .3s;
      }


      a {
         position: absolute;
         display: inline-block;
         text-align: center;
         line-height: 40px;
         width: 40px;
         height: 40px;
         background-color: #ee626b;
         color: #fff;
         border-radius: 50%;
         right: 25px;
         bottom: 25px;
         transition: all .3s;
      }
   }
}

@media (max-width: 992px) {
   .trending__col {
      flex: 0 1 50%;
      margin: 0px auto;
   }
}

@media (max-width: 576px) {
   .trending__col {
      flex: 0 1 100%;
   }
}

.category {
   font-size: 14px;
   color: #7a7a7a;
   margin-bottom: 5px;
   display: inline-block;
}